CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_MANAGEMENT_TOKEN=
CONTENTFUL_ENVIRONMENT=master
ADMIN_SESSION_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
NEXT_PUBLIC_SITE_URL=
CONTENTFUL_CACHE_ENABLED=
CONTENTFUL_REVALIDATE_SECONDS=
USE_LOCAL_CONTENTFUL_FIXTURE=true
